@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --poppins-font: 'Poppins', sans-serif;
    --dark-color: #0a0a0a;
    --red-color: #f64445;
    --light-color: #fff;
    --grey-color: #505050;
    --yellow-color: #f2c10e;
}
*{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
html{
    font-size: 10px;
}
body{
    font-size: 1.7rem;
    min-height: 100vh;
    background: var(--red-color);
    background: -o-linear-gradient(281deg, #f64445 0%, #611cac 100%);
    background: linear-gradient(169deg, #f64445 0%, #611cac 100%);
    line-height: 1.6;
    font-family: var(--poppins-font);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
}
button, input{
    font-family: inherit;
    font-size: 1.8rem;
    outline: 0;
    border: none;
    background-color: transparent;
}
li{
    list-style-type: none;
}
img{
    width: 100%;
    display: block;
}
.main-wrapper{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}
.app{
    background-color: var(--dark-color);
    margin: 2rem;
    padding: 5rem;
    border-radius: 6px;
    color: #fff;
    -webkit-box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
            box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.5);
}
.app-header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.app-header-title span{
    color: var(--red-color);
}
.app-header-search{
    border: 2px solid var(--grey-color);
    border-radius: 3rem;
    padding: 1rem 2rem;
    position: relative;
}
.app-header-search .form-control{
    min-width: 420px;
    color: #fff;
}
.app-header-search .search-btn{
    color: var(--grey-color);
    font-size: 2.3rem;
    cursor: pointer;
}

/* search list */
.search-list{
    z-index: 10;
    position: absolute;
    top: calc(100% + 1rem);
    left: 0;
    background-color: var(--light-color);
    width: 100%;
    max-height: 400px;
    overflow-y: scroll;
}
.search-list::-webkit-scrollbar{
    width: 7px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: var(--dark-color);
    padding: 0.4rem 0;
}
.search-list-item img{
    width: 50px;
    margin-right: 2rem;
}
.search-list-item p{
    font-weight: 700;
    cursor: pointer;
}

/* app body */
.app-body{
    margin-top: 4rem;
    height: 600px;
    overflow-y: scroll;
}
.app-body::-webkit-scrollbar{
    width: 7px;
}
.app-body::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.app-body::-webkit-scrollbar-thumb{
    background-color: var(--red-color);
    border-radius: 5px;
}

/* app body tabs heads */
.app-body-tabs-head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 2px;
    padding-bottom: 1.6rem;
    margin: 2.4rem 0;
}
.tab-head-single{
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    font-weight: 500;
    font-size: 1.9rem;
    color: #fff;
    cursor: pointer;
    -webkit-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.tab-head-single:hover{
    opacity: 0.9;
}
.tab-head-single.active-tab::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -1.7rem;
    width: 100%;
    height: 4px;
    background-color: var(--red-color);
}

/* app body content */
.app-body-content{
    display: grid;
    grid-template-columns: 2fr 3fr;
    -webkit-column-gap: 4rem;
       -moz-column-gap: 4rem;
            column-gap: 4rem;
    margin-right: 2rem;
}
.app-body-content-thumbnail{
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
}
.app-body-content-list .name{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3.4rem;
    font-weight: 500;
    margin-top: -1.2rem;
}
.app-body-tabs-body{
    margin-top: 3.6rem;
}

/* powerstats */
.powerstats{
    display: none;
}
.powerstats li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 1.2rem auto;
    padding: 1.2rem;
    -webkit-box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.5);
}
.powerstats li div i{
    color: var(--red-color);
}
.powerstats li div span{
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 7px;
    padding: 0 1.2rem;
    margin: 0 1.6rem;
    opacity: 0.6;
    font-size: 1.7rem;
}
.powerstats li > span{
    color: var(--yellow-color);
    font-weight: 700;
}
/* biography */
.biography{
    display: none;
}
.biography li{
    margin: 3.4rem 0;
}
.biography li span{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.9rem;
}
.biography li span:first-child{
    font-weight: 600;
    color: var(--grey-color);
    margin-right: 1rem;
}
.biography li span:last-child{
    font-weight: 300;
}

/* appearance */
.appearance{
    display: none;
}
.appearance li{
    margin: 3.2rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.appearance li span:first-child i{
    color: var(--yellow-color);
    margin-right: 1.4rem;
}
.appearance li span:first-child{
    text-transform: capitalize;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 4rem;
}
.appearance li span:last-child{
    font-weight: 600;
    text-transform: capitalize;
    background-color: var(--red-color);
    border-radius: 2rem;
    padding: 0 1rem;
    text-align: right;
}

/* connections */
.connections{
    display: none;
}
.connections li span:first-child{
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--grey-color);
    margin: 1.6rem 0 1.6rem 4rem;
    position: relative;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
    margin-top: 3.6rem;
}
.connections li span:first-child::before{
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -40px;
    height: 3px;
    width: 30px;
    background-color: var(--yellow-color);
}
.connections li span:last-child{
    letter-spacing: 1px;
    line-height: 1.9;
}
/* CSS reset */
*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html { font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

/* Typography =======================*/

/* Headings */

/* Main heading for card's front cover */
.card-front__heading {
  font-size: 1.5rem;
  margin-top: .25rem;
}

/* Main heading for inside page */
.inside-page__heading { 
  padding-bottom: 1rem; 
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.3rem;
  font-weight: 800;
  margin-top: .2rem;
}

.inside-page__heading--city,
.card-front__text-view--city { color: #ff62b2; }

.inside-page__heading--ski,
.card-front__text-view--ski { color: #2aaac1; }

.inside-page__heading--beach,
.card-front__text-view--beach { color: #fa7f67; }

.inside-page__heading--camping,
.card-front__text-view--camping { color: #00b97c; }

/* Front cover */

.card-front__tp { color: #fafbfa; }

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: .5rem;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  overflow: hidden;
  padding: .7rem .75rem;
  position: relative;
  text-decoration: none;
  transition: all .3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before { 
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all .3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city { 
  border-color: #ff40a1;
  color: #ff40a1;
}

.inside-page__btn--city::before { 
  background-color: #ff40a1;
}

.inside-page__btn--ski { 
  border-color: #279eb2;
  color: #279eb2;
}


/* Layout Structure=========================================*/

.main {
  background: linear-gradient(
    to bottom right,
    #eee8dd,
    #e3d9c6
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
  padding: 1rem;
}

/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 5%;
  transform: translate(300px, 0px);
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0,0,0, .05);
  box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: .75rem;
}

.card-front__tp--city {
  background: linear-gradient(
    to bottom,
    #ff73b9,
    #ff40a1
  );
}

.card-front__tp--ski {
  background: linear-gradient(
    to bottom,
    #47c2d7,
    #279eb2
  );
}

.card-front__tp--beach {
  background: linear-gradient(
    to bottom,
    #fb9b88,
    #f86647
  );
}

.card-front__tp--camping {
  background: linear-gradient(
    to bottom,
    #00db93,
    #00b97d
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0,0,0,0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center; 
  width: 100%;
}



.card:hover {
  box-shadow:
  -.1rem 1.7rem 6.6rem -3.2rem rgba(0,0,0,0.75);
  width: 30rem;
}

.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0,0,0,0.1);
}


@media screen and (max-width: 1200px){
    .app-body-content{
        grid-template-columns: 1fr 3fr;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .tab-head-single{
        margin: 1.5rem 0;
    }
}

@media screen and (max-width: 1000px){
    .app-body-content-list .name{
        text-align: center;
        margin-top: 1.8rem;
    }
    .app-body-content{
        grid-template-columns: 1fr;
        row-gap: 4rem;
        max-width: 680px;
        margin-right: auto;
        margin-left: auto;
    }
    .app-body-content-thumbnail{
        max-width: 400px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 992px){
    .app-header{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .app-header-search{
        margin-top: 2.8rem;
    }
}

@media screen and (max-width: 768px){
    .app-body-tabs-head{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .app-header-search{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .app-header-search .form-control{
        min-width: auto;
        color: #fff;
    }
    .app-header-search .search-btn{
        padding-left: 2rem;
    }
    .app-body-tabs-body{
        margin-right: 3rem;
    }
}

/* show-tab */
.show-tab{
    display: block;
}